RewriteEngine On

# Weiterleitung zur index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]

# Ignorieren von CSS-Dateien
RewriteCond %{REQUEST_URI} \.css$
RewriteRule ^ - [L]