{% block stylesheets %}
    <link rel="stylesheet" href="/style/public/style.css" type="text/css">
{% endblock %}

{% block content %}
    <div class="bg-cyan-700 h-32 flex justify-between">
        <img src="/img/logo.png" alt="logo" class="w-36 h-32">
        <a class="mr-1 text-violet-950"  href="/user/index">Login</a>
    </div>
{% endblock %}