{% block content %}
    <head>
        {% block stylesheets %}
        <link rel="stylesheet" href="../../../games/style/style.css" type="text/css">
        {% endblock %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
    <div class="header">
    <div class="box">

    </div>
    <img src="../../../games/img/logo.png" alt="logo" class="logo">
    </div>
    <div>
       <a href="games.local/user/index">Login</a>
    </div>
    </body>
{% endblock %}