{% block content %}
    <head>
        <link rel="stylesheet" href="/style/style.css">
    </head>
    <body>
    <div class="header">
    <div class="box">

    </div>
    <img src="/img/logo.png" alt="logo" class="logo">
    </div>
    <div>
       <a href="http://games.local/user/index">Login</a>
    </div>
    </body>
{% endblock %}