{% include 'header.twig' %}

{% block content %}
<head>
    <link rel="icon" type="image/png" href="/img/favicon.png">
</head>
<body>
<h1 class="h1">Neueste Games</h1>

<h1 class="h1">Demnächst</h1>


<h1 class="h1">Top 5</h1>



</body>
{% endblock %}