<!DOCTYPE html>

<html lang="de">

{% include 'header.twig' %}


<head>
    <title>GameTester</title>

    <link rel="stylesheet" href="/style/style.css" type="text/css">

    <link rel="icon" type="../../../games/image/png" href="/img/favicon.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>


<body>
{% block content %}
<h1 class="headline">Neueste Games</h1>

<h1 class="headline">Demnächst</h1>


<h1 class="headline">Top 5</h1>


{% endblock %}
</body>
</html>